{% extends "layout.html" %}

{% block content %}
<body class="o-body">
<section id="about-id">
    <div class="box7">
        <h1 class="h-about">Who is this man myth or mega designer?</h1>
    </div>
        <div class="a-content">
        <h3 class="c-info"> Numbers give you credibility, especially if you’re illustrating a problem you’re trying to solve or the progress you’ve made as a business (e.g. number of items sold or years you’ve been in business).

            Consider the stats you can use to make a point about your company mission or quantify your impact as a business to include on your About Us page.
            
            Whether you’re explaining the industry problem that comes up early in your story or highlighting the milestones at your story’s climax, tying relevant figures into your narrative can help you communicate your message more effectively.</h3>
        </div>

        <footer class="about-foot">
            <div class="foot-class">
               <p> copyright &copy; www.ibookreview.com.All rights reserve</p>
            </div>
        </footer>
    



</section>
</body>




{% endblock %}