{% extends "layout.html" %}
{% block content %}
<section id="book-a">
    <h1 class="h-books">Books avaiable</h1>
    <div class="stall-a">

        <div class="book-c">
            <img src="https://m.media-amazon.com/images/I/51Z0nLAfLmL.jpg" alt="pauelo coehlo book">
            <p class="textclass-1">THE ALCHEMIST</p>
            <button class="h2-box"><a href="/static/pdf/The Alchemist.pdf">Read</a></button>
        </div>

        <div class="book-c">
            <img src="https://m.media-amazon.com/images/I/51Z0nLAfLmL.jpg" alt="pauelo coehlo book">
            <p class="textclass-1">This is the book i personally like and have read it its actually very good book</p>
            <button class="h2-box"><a href="/static/pdf/p.pdf">Read</a></button>

        </div>

        <div class="book-c">
            <img src="https://m.media-amazon.com/images/I/51Z0nLAfLmL.jpg" alt="pauelo coehlo book">
            <p class="textclass-1">This is the book i personally like and have read it its actually very good book</p>
            <button class="h2-box"><a href="/static/pdf/p.pdf">Read</a></button>

        </div>
        <div class="book-c">
            <img src="https://m.media-amazon.com/images/I/51Z0nLAfLmL.jpg" alt="pauelo coehlo book">
            <p class="textclass-1">This is the book i personally like and have read it its actually very good book</p>
            <button class="h2-box"><a href="/static/pdf/p.pdf">Read</a></button>

        </div>
    </div>
    <div class="stall-b">
        <div class="book-d">
            <img src="https://m.media-amazon.com/images/I/51Z0nLAfLmL.jpg" alt="pauelo coehlo book">
            <p class="textclass-1">This is the book i personally like and have read it its actually very good book</p>
            <button class="h2-box"><a href="/static/pdf/p.pdf">Read</a></button>
        </div>
        <div class="book-d">
            <img src="https://m.media-amazon.com/images/I/51Z0nLAfLmL.jpg" alt="pauelo coehlo book">
            <p class="textclass-1">This is the book i personally like and have read it its actually very good book</p>
            <button class="h2-box"><a href="/static/pdf/p.pdf">Read</a></button>
        </div>
        <div class="book-d">
            <img src="https://m.media-amazon.com/images/I/51Z0nLAfLmL.jpg" alt="pauelo coehlo book">
            <p class="textclass-1">This is the book i personally like and have read it its actually very good book</p>
            <button class="h2-box"><a href="/static/pdf/p.pdf">Read</a></button>
        </div>
        <div class="book-d">
            <img src="https://m.media-amazon.com/images/I/51Z0nLAfLmL.jpg" alt="pauelo coehlo book">
            <p class="textclass-1">This is the book i personally like and have read it its actually very good book</p>
            <button class="h2-box"><a href="/static/pdf/p.pdf">Read</a></button>
        </div>
    </div>
    <div class="stall-c">
        <div class="book-e">
            <img src="https://m.media-amazon.com/images/I/51Z0nLAfLmL.jpg" alt="pauelo coehlo book">
            <p class="textclass-1">This is the book i personally like and have read it its actually very good book</p>
            <button class="h2-box"><a href="/static/pdf/p.pdf">Read</a></button>
        </div>
        <div class="book-e">
            <img src="https://m.media-amazon.com/images/I/51Z0nLAfLmL.jpg" alt="pauelo coehlo book">
            <p class="textclass-1">This is the book i personally like and have read it its actually very good book</p>
            <button class="h2-box"><a href="/static/pdf/p.pdf">Read</a></button>
        </div>
        <div class="book-e">
            <img src="https://m.media-amazon.com/images/I/51Z0nLAfLmL.jpg" alt="pauelo coehlo book">
            <p class="textclass-1">This is the book i personally like and have read it its actually very good book</p>
            <button class="h2-box"><a href="/static/pdf/p.pdf">Read</a></button>
        </div>
        <div class="book-e">
            <img src="https://m.media-amazon.com/images/I/51Z0nLAfLmL.jpg" alt="pauelo coehlo book">
            <p class="textclass-1">This is the book i personally like and have read it its actually very good book</p>
            <button class="h2-box"><a href="/static/pdf/p.pdf">Read</a></button>
        </div>

    </div>

    <div class="stall-d">
        <div class="book-f">
            <img src="https://m.media-amazon.com/images/I/51Z0nLAfLmL.jpg" alt="pauelo coehlo book">
            <p class="textclass-1">This is the book i personally like and have read it its actually very good book</p>
            <button class="h2-box"><a href="/static/pdf/p.pdf">Read</a></button>
        </div>
        <div class="book-e">
            <img src="https://m.media-amazon.com/images/I/51Z0nLAfLmL.jpg" alt="pauelo coehlo book">
            <p class="textclass-1">This is the book i personally like and have read it its actually very good book</p>
            <button class="h2-box"><a href="/static/pdf/p.pdf">Read</a></button>
        </div>
        <div class="book-e">
            <img src="https://m.media-amazon.com/images/I/51Z0nLAfLmL.jpg" alt="pauelo coehlo book">
            <p class="textclass-1">This is the book i personally like and have read it its actually very good book</p>
            <button class="h2-box"><a href="/static/pdf/p.pdf">Read</a></button>
        </div>
        <div class="book-e">
            <img src="https://m.media-amazon.com/images/I/51Z0nLAfLmL.jpg" alt="pauelo coehlo book">
            <p class="textclass-1">This is the book i personally like and have read it its actually very good book</p>
            <button class="h2-box"><a href="/static/pdf/p.pdf">Read</a></button>
        </div>

    </div>
    <div class="stall-e">
        <div class="book-g">
            <img src="https://m.media-amazon.com/images/I/51Z0nLAfLmL.jpg" alt="pauelo coehlo book">
            <p class="textclass-1">This is the book i personally like and have read it its actually very good book</p>
            <button class="h2-box"><a href="/static/pdf/p.pdf">Read</a></button>
        </div>
        <div class="book-g">
            <img src="https://m.media-amazon.com/images/I/51Z0nLAfLmL.jpg" alt="pauelo coehlo book">
            <p class="textclass-1">This is the book i personally like and have read it its actually very good book</p>
            <button class="h2-box"><a href="/static/pdf/p.pdf">Read</a></button>
        </div>
        <div class="book-g">
            <img src="https://m.media-amazon.com/images/I/51Z0nLAfLmL.jpg" alt="pauelo coehlo book">
            <p class="textclass-1">This is the book i personally like and have read it its actually very good book</p>
            <button class="h2-box"><a href="/static/pdf/p.pdf">Read</a></button>
        </div>
        <div class="book-g">
            <img src="https://m.media-amazon.com/images/I/51Z0nLAfLmL.jpg" alt="pauelo coehlo book">
            <p class="textclass-1">This is the book i personally like and have read it its actually very good book</p>
            <button class="h2-box"><a href="/static/pdf/p.pdf">Read</a></button>
        </div>

    </div>

    <footer class="about-foot-book">
        <div class="foot-class">
           <p> copyright &copy; www.ibookreview.com.All rights reserve</p>
        </div>
    </footer>




    
    


 
    
   


</section>




{% endblock %}