{% extends "layout.html" %}

{% block content %}
<body class="s-body">
<div class="s-input">
    <h1 class="h-search">Search Books Here:</h1>
    <div class="s-input2">

        <form action="/search" method="POST">
            <input class="t1" placeholder="Search books,ISBN,Title,Author" type="text" name="search-input"><br>
            <br>
            <input class="t2" type="submit" value="Search">


        </form>
    </div>

</div>

<footer>
    <div class="foot-search">
       <p> copyright &copy; www.ibookreview.com.All rights reserve</p>


    </div>
</footer>
</body>



{% endblock %}